* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --blue-color: #3366cc;
  --gray-border: #a2a9b1;
  --gray-text: #54595d;
  --gray-background: #f8f9fa;
  --font-family-primary: 'Linux Libertine', serif;
  --font-familiy-secondary: -apple-system, sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.title {
  font-family: var(--font-familiy-primary);
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 3rem;
  line-height: 3.3rem;
}

.title h1 {
  font-size: 3.2rem;
  font-weight: 400;
}

.title h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

.languages {
  display: grid;
  grid-template-columns: 1rem repeat(7, 7rem) 1rem;
  grid-template-rows: repeat(5, 6.5rem);
  row-gap: 0.5rem;
  justify-content: center;
  margin-bottom: 1rem;
}

.language {
  text-align: center;
  line-height: 2rem;
  font-family: var(--font-familiy-secondary);
}

.language:hover{
  background: #eaecf0;
  cursor: pointer;
}

.language a {
  text-decoration: none;
  font-weight: bold;
  color: var(--blue-color);
  font-size: 1.6rem;
}

.language:hover a {
  text-decoration: underline;
}

.language span {
  color: var(--gray-text);
  font-size: 1.2rem;
  display: block;
}

.idioma1 {
  grid-column: 1/5;
  justify-self: end;
}

.idioma2 {
  grid-column: 6/10;
  justify-self: start;
}

.idioma3 {
  grid-row: 2;
  grid-column: 1/4;
  justify-self: center;
}

.idioma4 {
  grid-row: 2;
  grid-column: 7/10;
  justify-self: center;
}

.idioma5 {
  grid-row: 3;
  grid-column: 1/4;
  justify-self: start;
}

.idioma6 {
  grid-row: 3;
  grid-column: 7/10;
  justify-self: end;
}

.idioma7 {
  grid-row: 4;
  grid-column: 1/4;
  justify-self: center;
}

.idioma8 {
  grid-row: 4;
  grid-column: 7/10;
  justify-self: center;
}

.idioma9 {
  grid-row: 5;
  grid-column: 2/5;
  justify-self: end;
}

.idioma10 {
  grid-row: 5;
  grid-column: 6/9;
  justify-self: start;
}

.wiki_logo {
  grid-column: 4/7;
  grid-row: 2/5;
  width: 100%;
  height: 100%;
}

.wiki_logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.search {
  width: 100%;
  height: 4.4rem;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.search-input {
  width: 54rem;
  position: relative;
  display: flex;
  justify-content: center;
}

.search-input input {
  width: 39rem;
  height: 4.4rem;
  padding: 0.8rem 9.6rem .8rem 1.2rem;
  font-size: 1.6rem;
  border: 1px solid var(--gray-border);
  border-radius: 0.2rem;
  border-width: 0.1rem 0 0.1rem 0.1rem;
}

.search-input input:focus {
  outline: 0;
  border: solid 0.1rem var(--blue-color);
  box-shadow: inset 0 0 0 0.1rem var(--blue-color);
}

.select-false {
  position: absolute;
  top: 1rem;
  right: 11rem;
  cursor: pointer;
  color: #5a5d60;
  font-family: var(--font-familiy-secondary);
  font-size: 1.3rem;
}

.select-false:active {
  outline: 0;
  border: solid 0.1rem var(--blue-color);
}

.select-false .flecha {
  position: relative;
  top: 0.4rem;
  font-size: 1.8rem;
}


.search-input .lupa {
  height: 4.4rem;
  padding: 0.8rem 1.6rem;
  border-radius: 0 0.2rem 0.2rem 0;
  color: #fff;
  background-color: var(--blue-color);
}

.search-input .lupa:hover {
  cursor: pointer;
  background-color: #447ff5;
  border-color: #447ff5;
}

.container-select-language::before {
  content: '___________';
  position: relative;
  width: 4rem;
  right: 6.3rem;
  color: var(--gray-border);
}

.container-select-language {
  display: flex;
  justify-content: center;
  margin-bottom: 2.7rem;
}

.container-select-language::after {
  content: '___________';
  position: relative;
  width: 4rem;
  left: 1.7rem;
  color: var(--gray-border);
}

.button-language {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.6rem;
  padding: 0.6rem 1.2rem;
  color: var(--blue-color);
  background-color: var(--gray-background);
  border: 1px solid var(--gray-border);
  border-radius: 0.2rem;
  cursor: pointer;
}

.button-language:hover {
  background-color: #fff;
}

.button-language:focus {
  border-color: var(--blue-color);
  box-shadow: 0 0 0 0.1rem var(--blue-color);
}

.button-icon-left {
  font-size: 2rem;
}

.button-text {
  padding: 0 0.64rem;
  font-size: 1.4rem;
  font-weight: bold;
}

.button-icon-right {
  font-size: 2rem;
}

.footer {
  width: 100%;
  display: flex;
  padding: 4.16rem 1.28rem 1.28rem;
  margin-bottom: 3rem;
}

.related-sites {
  width: 36%;
  max-width: 36%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--gray-text);
  font-family: var(--font-familiy-secondary);
  font-size: 1.3rem;
  line-height: 2rem;
}

.donations {
  display: grid;
  grid-template-columns: 4.2rem minmax(22.5rem , 28.5rem);
  grid-template-rows: 4.2rem auto auto ;
  margin-bottom: 3rem;
}

.donations figure {
  width: 4.2rem;
  height: 4.2rem;
}

.donations figure img {
  width: 100%;
  height: 100%;
}

.donations p {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  padding-left: 1rem;
  max-width: 28.5rem;
  height: auto;
}

.donations a {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  padding-left: 1rem;
  max-width: 28.5rem;
  color: var(--blue-color);
  text-decoration: none;
}

.donations a:hover {
  text-decoration: underline;
}

.download {
  display: grid;
  grid-template-columns: 4.2rem minmax(22.5rem , 28.5rem);
  grid-template-rows: 4.2rem auto auto;
  background-color: var(--gray-background);
  position: relative;
}

.download > figure {
  width: 3.7rem;
  height: 3.7rem;
  position: absolute;
  top: 0.6rem;
  left: 0.6rem;
}

.download figure {
  width: 4.2rem;
  height: 4.2rem;
}

.download figure img {
  width: 100%;
  height: 100%;
}

.download strong {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding: 0 0 0 1rem;
  max-width: 28.5rem;
  display: flex;
  align-items: center;
}

.download p {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding: 0 0 0 1rem;
  max-width: 28.5rem;
  margin: 0.3rem 0 1rem 0;
}

.download .apps-links {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  display: flex;
  padding: 0 4rem 0 1rem;
}

.download .apps-links figure {
  width: 12.4rem;
  height: 3.8rem;
  padding: 0 0.2rem 0 0.2rem;
}

.download .apps-links figure img {
  width: 100%;
  height: 100%;
}

.links-container {
  width: 64%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(4 , 8.5rem);
  padding-right: 2rem;
  gap: 0.5rem;
}

.links {
  display: grid;
  grid-template-columns: 4.7rem auto;
  grid-template-rows: 2rem auto;
  text-decoration: none;
  border-radius: 0.5rem;
  padding: 1.3rem;
  font-family: var(--font-familiy-secondary);
  font-size: 1.3rem;
  line-height: 1.7rem;
}

.links:hover {
  background-color: #eaecf0;
}

.links .commons {
  grid-row: 1 / 3;
  width: 4.7rem;
  height: 4.7rem;
}

.links .wikiviajes {
  grid-row: 1 / 3;
  width: 3.6rem;
  height: 3.6rem;
}

.links .wikcionario {
  grid-row: 1 / 3;
  width: 3.7rem;
  height: 3.7rem;
}

.links .wikilibros{
  grid-row: 1 / 3;
  width: 3.7rem;
  height: 3.7rem;
}

.links .wikinoticias {
  grid-row: 1 / 3;
  width: 4.7rem;
  height: 2.6rem;
}

.links .wikidata {
  grid-row: 1 / 3;
  width: 4.9rem;
  height: 4rem;
}

.links .wikiversidad {
  grid-row: 1 / 3;
  width: 4.3rem;
  height: 3.7rem;
}

.links .wikiquote {
  grid-row: 1 / 3;
  width: 4.2rem;
  height: 4.2rem;
}

.links .mediawiki {
  grid-row: 1 / 3;
  width: 4.2rem;
  height: 4.2rem;
}

.links .wikisource {
  grid-row: 1 / 3;
  width: 3.9rem;
  height: 3.9rem;
}

.links .wikispecies {
  grid-row: 1 / 3;
  width: 4.2rem;
  height: 4.2rem;
}

.links .meta-wiki {
  grid-row: 1 / 3;
  width: 3.7rem;
  height: 3.7rem;
}

.links figure img {
  max-width: 100%;
  height: 100%;
}

.links p{
  color: var(--blue-color);
  padding-left: 0.5rem;
}

.links span {
  color: var(--gray-text);
  padding-left: 0.5rem;
  max-width: 17rem;
}

.license {
  text-align: center;
  font-family: var(--font-familiy-secondary);
  font-size: 1.3rem;
  line-height: 2.2rem;
  color: var(--gray-text);
  padding: 1.8rem 0 1.8rem 0;
}

.license a {
  text-decoration: none;
  color: var(--blue-color);
}

.license a:hover {
  text-decoration: underline;
}

.license .link-license::before {
  content: '\2022';
  position: absolute;
  left: 0.3rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  color: var(--gray-text);
}

.license .link-license {
  position: relative;
  padding: 0 1.7rem 0 1.7rem;
}

.license .link-license::after {
  content: '\2022';
  position: absolute;
  right: 0.3rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  color: var(--gray-text);
}

@media (max-width: 950px) {
  .download .apps-links {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    padding: 1.28rem;
    position: relative;
  }

  .related-sites {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .donations {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
  }
  
  .donations figure {
    width: 4.2rem;
    height: 4.2rem;
    margin-bottom: 1.2rem;
  }
  
  .donations p {
    padding: 0;
    max-width: 100%;
  }
  
  .donations a {
    padding: 0;
    max-width: 100%;
  }

  .download {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    padding: 0.4rem 0 0.8rem 0;
    margin-top: 35.5rem;
  }
  
  .download > figure {
    width: 2.7rem;
    height: 2.7rem;
    position: relative;
    left: -14.3rem;
    top: -13rem;
    order: 1;
  }
  
  .download strong {
    padding: 0rem;
    padding-top: 1rem;
    max-width: 100%;
  }
  
  .download p {
    padding: 0rem;
    max-width: 100%;
    margin: 1.5rem 0 1.5rem 0;
  }
  
  .download .apps-links {
    flex-direction: row;
    padding: 0;
  }

  .links-container {
    display: grid;
    width: 100%;
    padding-right: 0rem;
    position: absolute;
    top: 15.2rem;
    left: 1.28rem;
  }
}

@media (max-width: 592px) {
  .download > figure {
    left: -14.3rem;
    top: -15rem;
  }
}

@media (max-width: 480px) {

  .footer {
    margin-bottom: 1.5rem;
  }

  .download {
    padding: 0.4rem 0 0.8rem 0;
    margin-top: 54.2rem;
  }

  .links-container {
    position: absolute;
    top: 15.2rem;
    left: 1.28rem;
    grid-template-columns: auto auto;
  }
}